# Configurações do Banco de Dados Oracle (ERP Origem)
ERP_USER=usuario_leitura_erp
ERP_PASSWORD=senha_erp
ERP_DSN=ip_servidor_erp:1521/NOME_SERVICO_ERP

# Configurações do Banco de Dados Oracle (DW Destino - Onde o Painel se Conecta)
DW_USER=usuario_dw
DW_PASSWORD=senha_dw
DW_DSN=ip_servidor_dw:1521/NOME_SERVICO_DW
